# Arquivo gerado pelo sistema operacional
.DS_Store
*.swo
*.swp

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*
.pnpm-debug.log*

# Arquivos de ambiente - MUITO IMPORTANTE PARA SEGURANÇA
.env
.env*.local
.env.development
.env.test
.env.production
.env.local

# Pasta de dependências (NÃO ENVIAR)
node_modules/

# Pasta de build e cache
/dist
/.pnpm-store
.npm
.yarn-cache
.yarn/unplugged
.yarn/install-state.gz

# Cache do Vite
.vite

# Relatórios de teste
coverage
.nyc_output
